.button {
    background: var(--purple);
    color: var(--white);
    font: var(--button);
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 13px;
    padding-block-end: 13px;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    opacity: 0.5;
}

.button2 {
    /* background: var(--purple); */
    color: var(--purple);
    font: var(--button);
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 10px;
    padding-block-end: 10px;
    border-radius: 8px;
    text-transform: uppercase;
    border: 3px solid var(--purple);
    text-decoration: none;
    text-align: center;
    width: 15%;
    margin: auto;
}

.button2 a {
    text-decoration: none;
}