.button {
    background: var(--purple);
    color: var(--white);
    font: var(--button);
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 13px;
    padding-block-end: 13px;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    text-align: center;
}

button .button:hover {
    opacity: 0.5;
}

.table__item-edit {
    background: rgb(241, 241, 105);
    font: var(--button);
    color: black;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-block-start: 4px;
    padding-block-end: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    text-align: center;
    margin: 5px;
}

.table__item-edit:hover {
    opacity: 0.5;
}

.table__item-delete {
    background: rgb(255, 83, 83);
    color: var(--white);
    font: var(--button);
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-block-start: 4px;
    padding-block-end: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    text-align: center;
}

.table__item-delete:hover {
    opacity: 0.5;
}

.button2 {
    /* background: var(--purple); */
    color: var(--purple);
    font: var(--button);
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-block-start: 10px;
    padding-block-end: 10px;
    border-radius: 8px;
    text-transform: uppercase;
    border: 3px solid var(--purple);
    text-decoration: none;
    text-align: center;
    max-width: 200px;
    margin: auto;
}

.button2 a {
    text-decoration: none;
}

.container-table .button2{
    margin-top: 60px;
    width: 90%;
}