.container-table{
    width: 90%;
    background: var(--green);
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.431);
    max-inline-size: 1080px;    
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 50px;

}

.container__title{
    margin: 0;
    padding: 10px;
    background: var(--green);
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 830px) {
    .container-table {
        width: 100%;
    }
}