/* Se crea la apariencia de la Pagina */
body{
    background:#ddd;
    font-family: sans-serif;
}

.container-table{
    width: 90%;
    background: rgba(209, 206, 11, 0.349);
    margin: 50px auto;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 50px;

}
.table__title{
    grid-column-start: 1;
    grid-column-end: 5;
    background:rgb(243, 255, 82);
    color: while;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;

}
.table__header{
    font-weight: bold;
    font-size: 0.8em;
}

.table__item{
    font-size: 1em;
    padding: 10px;
}
.table__header, .table__item{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*INSERTAR */

.container-add{
    width: 90%;
    margin: 50px auto;
}

.container__title{
    margin: 0;
    padding: 10px;
    background: rgb(161, 235, 207);
    font-size: 1em;
    text-align: center;
}

.container__form{
    background: white;
    box-shadow: 0 0 20px #333;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;

}
.contaniner__label{
    font-size: 1.3em;
    width: 30%;
}
.container__input{
    width: 25%;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    padding: 2px;


}
/* BOTONES */

.button {
    margin: auto;
    width: 200px;
}

.button-save {
    text-decoration: none;
    background: #158a05;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 200px;
    border: outset;
}

.button-save:hover{
    opacity: 0.6;
}

a{
    text-decoration: none;
    background: #ff0000;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 200px;
    border: outset;
}

a:hover{
    opacity: 0.6;
}
