.table__title{
    grid-column-start: 1;
    grid-column-end: 5;
    background: var(--purple);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}
.table__header{
    border: 1px dashed var(--purple);
    font-weight: bold;
    font-size: 20px;
}

.table__item{
    border: 1px dashed var(--purple);
    font-size: 16px;
    padding: 10px;
}
.table__header, .table__item{
    display: flex;
    justify-content: center;
    align-items: center;
}