.table__title{
    grid-column-start: 1;
    grid-column-end: 5;
    background: var(--purple);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}
.table__header{
    border: 1px dashed var(--purple);
    font-weight: bold;
    font-size: 20px;
}

.table__item{
    border: 1px dashed var(--purple);
    font-size: 16px;
    padding: 10px;
}
.table__header, .table__item{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 830px) {
    .table__title {
        font-size: var(--mobile);
    }

    .table__header {
        font-size: var(--mobile);
    }

    .table__item {
        font-size: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
    }
    .table__item .table__item-delete {
        padding: 1px;
        margin: 1px;
    }
    .table__item .table__item-edit {
        padding: 1px;
        margin: 1px;
    }
}